@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.login-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.login-container{

width:100%;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:40px;

background:
linear-gradient(
135deg,
#dcfce7,
#f0fdf4
);

}

.login-box{

width:1100px;

height:650px;

background:white;

border-radius:35px;

overflow:hidden;

display:flex;

box-shadow:

0 25px 60px rgba(0,0,0,.15);

}

.login-left{

width:50%;

padding:70px;

display:flex;

flex-direction:column;

justify-content:center;

}

.login-left h1{

font-size:42px;

color:#16a34a;

margin-bottom:10px;

}

.login-left p{

color:#666;

margin-bottom:35px;

}

.login-left input{

width:100%;

padding:16px;

margin-top:15px;

border-radius:14px;

border:1px solid #d1d5db;

font-size:16px;

transition:.3s;

}

.login-left input:focus{

outline:none;

border-color:#22c55e;

box-shadow:

0 0 10px rgba(34,197,94,.2);

}

.remember{

display:flex;

gap:10px;

align-items:center;

margin-top:18px;

margin-bottom:25px;

font-size:15px;

}

.login-container button {
  width: 100%;
  padding: 17px;
  background: #16a34a;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  transition: .3s;
}

.login-container button:hover {
  background: #15803d;
  transform: translateY(-2px);
}

.register{

margin-top:30px;

text-align:center;

}

.register a{

color:#16a34a;

font-weight:600;

margin-left:5px;

text-decoration:none;

}

.error{

background:#fee2e2;

color:#dc2626;

padding:15px;

border-radius:10px;

margin-bottom:20px;

}

.login-right{

width:50%;

background:

linear-gradient(
160deg,
#22c55e,
#16a34a
);

display:flex;

justify-content:center;

align-items:center;

}

.login-right img{

width:85%;

animation:

float 3s ease-in-out infinite;

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-12px);

}

100%{

transform:translateY(0);

}

}

@media(max-width:900px){

.login-box{

flex-direction:column;

height:auto;

}

.login-left{

width:100%;

padding:45px;

}

.login-right{

display:none;

}

}
